services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changemeinprod!
      POSTGRES_DB: procurement_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
